/* business-card */
.business-card {
  background: #ecfdff;
}
.business-card .shadow {
  margin: 2rem auto;
  display: block;
  text-align: center;
}
.business-card .col-center-content {
  margin: 3rem auto;
}
.business-card .shadow img {
  width: 100%;
}
