<div>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/1-ganesh.jpg" alt="Ganesh">
        <div class="card-body">
            <p class="card-text">{{ ganesh_desc }}</p>
            <p class="card-text">Price : {{ price }}</p>
            <button class="btn btn-success">Buy Now</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../assets/images/1-ganesh.jpg" alt="Ganesh">
        <div class="card-body">
            <p class="card-text">{{ ganesh_desc }}</p>
            <p class="card-text">Price : {{ price }}</p>
            <button class="btn btn-success">Buy Now</button>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="../../assets/images/1-ganesh.jpg" alt="Ganesh">
        <div class="card-body">
            <p class="card-text">{{ ganesh_desc }}</p>
            <p class="card-text">Price : {{ price }}</p>
            <button class="btn btn-success">Buy Now</button>
        </div>
    </div>
</div>