<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Nakshatram Arts </h4>
                    <ul>
                        <li><img class="footer-image" src="../../assets/logo.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Address </h3>
                    <ul>
                        <li>
                            <p> Nikhil Apartment, Sinhgad Road, </p>
                        </li>
                        <li>
                            <p>Near Santosh Hall,</p>
                        </li>
                        <li>
                            <p>Pune</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Connect with Us.. </h3>
                    <ul>
                        <li>
                            <h5><a href="#"> Facebook </a></h5>
                        </li>
                        <li>
                            <h5><a href="#"> Instagram </a></h5>
                        </li>
                        <li>
                            <h5><a href="#"> Twitter </a></h5>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left copyright"> Copyright © 2019. All right reserved. </p>

            </div>
        </div>
    </div>
</footer>