body {
    margin: 0;
    padding: 0;
    background-color: #cff3f7;
}

.gallery-card {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    text-align: center;
}

.gallery-card img {
    width: 100%;
    height: 17rem;
}

.gallery-card .price-tag {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.container .page-title {
    padding: 1rem;
}

.card-body {
    background: #73d1db;
    border: 0.5px solid black;
}

button:hover {
    background-color: rgb(146, 172, 53) !important;
}