<body>
    <div class="container">
        <div class="page-title">
            <h2 class="text-center text-white mt-2">Image Gallery</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of allImages | filterimages: filterBy">
                <div class="card gallery-card">
                    <div class="card-body">
                        <img class="img-fluid animated zoomIn" src="{{ item.url }}" />
                        <p class="price-tag">Price: {{ item.price | currency:"₹" }}</p>
                        <button class="btn btn-primary btn-block" [routerLink]="['/details', item.id]">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>