.navbar {
  background-color: #05d5ec !important;
  border-bottom: 3px solid orange;
}
.navbar .navbar-toggler {
  border: 1px solid #252525;
}
.navbar a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #252525;
}
.navbar a:hover {
  text-decoration: none;
  font-weight: bold;
}
