.banner {
    clear: both;
    background-image: url('../../assets/home-img.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.title-text {
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}

.details-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(113, 228, 248);
}

.blink_text {
    animation: 1s blinker linear infinite;
    -webkit-animation: 1s blinker linear infinite;
    -moz-animation: 1s blinker linear infinite;
    color: white;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}