<div class="container-fluid">
    <div class="carousel slide" id="magicCarousel">

        <!-- Angular 8 have some problems with carousel. Issue is open on their github repo. -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="../../assets/wallpaper.jpg" alt="first" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Nakshatram Arts</h3>
                    <p>(We Enlight Art)</p>
                </div>
            </div>
        </div>
    </div>
</div>